
<% provide(:title, "Create User") %>
<div class="container d-flex justify-content-center">
<div class="row shadow-lg rounded p-5">
 <div class="col-md-12 col-md-offset-3"> 
    <h1>Create your profile</h1>
    <%= form_for [:admin, @user], url: {action: :create, controller: :user} do |f| %>
      <%= render 'shared/error_messages'%>
      <%= f.label :role_id %>
      <%= f.select :role_id, options_for_select(@role.map{|c| [c.role_name, c.id]}),{}, class: 'form-control'%>
      <%= f.label :avatar%>
      <%= f.file_field :avatar,  accept: "image/jpeg, image/gif, image/png, image/jpg", class: 'form-control-file'%>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
</div>
</div>