<div class="container mt-3">
  <div class="row">
   <div class="col-12">
        <table class="table table-hover table-bordered">
        <h2>Category</h2>
        <thead class="">
          <tr class="text-center">
            <th scope="col" class="">#</th>
            <th scope="col" class="">Name</th>
            <th scope="col" class="">Parent by</th>
            <th scope= "col">Created_at</th>
            <th scope="col" class="">Action</th>

          </tr>
        </thead>
        <tbody>
           <% @category.each do |i| %>
          <tr class="text-center">
            <th scope="row"><%= i.id %></th>
            <td><%= i.name%></td>
            <td><% Category.where(id: i.parent_id).each do |f|%>
                <p><%=f.name%></p>
                <%end%>
            </td>
            <td><%= i.created_at.strftime("%d-%m-%Y")%></td>
            <td class="d-flex  justify-content-around">
              <%if can? :update, Category%>
              <%= link_to "edit", admin_editcate_path(i.id), method: :get, class: "btn btn-md btn-primary mx-2 rounded" %>
              <%end%>
              <%if can? :destroy, Category%>
              <%= button_to "Delete",admin_category_destroy_path(i.id), method: :delete, class: "btn btn-md btn-danger mx-2 rounded",
                            data: { confirm: "You sure?" } %>
              <%end%>
    
          
              
            </td>
          </tr>
          <% end%>
        </tbody>
        </table>
    </div>
    </div>
    </div>